<div class="container">
  <div class="d-flex flex-column " style="width:50%;margin:auto">
    <a href="/">
      <h1><strong class="row justify-content-center my-3">URL Shortener</strong></h1>
      </a>
      <div class="row justify-content-center">
        <img id="index-logo" src="images/logo.png" alt="image">
      </div>
      <form class="my-3" action="/result" method="POST">
        <input id="index-input" type="url" id="inputURL" name="inputURL" class="form-control" placeholder="Input URL here"
          required>
        <div class="row justify-content-center my-3">
          <button id="index-btn" type="submit" class="btn btn-outline-primary" style="display:block;width:auto">
            shorten
          </button>
        </div>
      </form>
  </div>
</div>