<div class="container">
  <a href="/">
    <h1 class="h1 title">URL Shortener</h1>
  </a>
  <img class="image" src="images/logo.png" alt="image">
  <form action="/result" method="POST">
    <input type="url" id="inputURL" name="inputURL" class="form-control" placeholder="Input URL here" required>
    <button type="submit" class="btn btn-outline-primary" style="display:block">shorten</button>
  </form>
</div>