<div class="container">
  <a href="/">
    <h1 class="h1 title">URL Shortener</h1>
  </a>
  <img class="image" src="/images/logo.png" alt="image">
  <h1 class="h1 title">Success! please use this link:</h1>
  <a id="shortLink" href={{shortLink}} class="h1">{{shortLink}}</a>
  <button id="copyBtn" onclick="copyURL()" class="btn btn-outline-primary" style="display:block">Copy</button>
</div>