<div class="container">
  <a href="/">
    <h1 class="h1 title">URL Shortener</h1>
  </a>
  <img class="image" src="/images/logo.png" alt="image">
  <h1 class="h1 title">Success! please use this link:</h1>
  <a id="shortURL" href={{shortURL}} class="h1">{{shortURL}}</a>
</div>